.fa_container {
	padding: 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #919bad;
	background-color: #d4dce8;
	border-radius: 1em;

}

.fa_title {
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	margin-bottom: 1em;
	color: rgb(65, 82, 107);
}

.fa_image {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.fa_image img {
	border-style: solid;
	border-width: 1px;
}

.fa_description {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	width: 75%;
	background-color: white;
	border-style: solid;
	border-color: #919bad;
	border-width: 1px;
	border-radius: 5px;
}

.fa_nsfw_warning {
	color: #d61616;
	text-align: center;
	font-size: smaller;
}
