.fa_container {
	padding: 3px;
	border-style: solid;
	border: 3px;
	border-color: #919bad;
	background-color: #d4dce8;
}

.fa_title {
	font-weight: bold;
}

.fa_image {
	margin-left: auto;
	margin-right: auto;
}

.fa_description {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}
